<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.stupnikov.application.speculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MainTheme">

        <meta-data android:name="AA_DB_NAME" android:value="Wallet.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />

        <activity android:name="ru.stupnikov.application.activity.MainActivity">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ru.stupnikov.application.activity.GeneralActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="ru.stupnikov.application.activity.EditWalletActivity" android:label="@string/pouch_settings"></activity>

        <activity android:name="ru.stupnikov.application.activity.ContolBudgetActivity" android:label="@string/controlBudget"></activity>
        <activity android:name="ru.stupnikov.application.activity.EditArticleActivity" android:label="@string/editArcticle"></activity>
        <activity android:name="ru.stupnikov.application.activity.GeneralSettingsActivity" android:label="@string/general_settings"></activity>
        <activity android:name="ru.stupnikov.application.fragment.MaintFragmentActivity" android:label="test"></activity>
        <activity android:name="ru.stupnikov.application.activity.StatisticBudgetActivity" android:label="@string/statistic"></activity>
        <activity android:name="ru.stupnikov.application.activity.TestActivity" android:label="testAtivity">
        </activity>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
              ...
             WHF ??!?!??-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest>
